/*
kolory do uzycia na stronie
.color1 {color: #060b10;}
.color2 {color: #1f252d;}
.color3 {color: #394950;}
.color4 {color: #5a6c76;}
.color5 {color: #7c9da6;}
*/


* {    
    margin: 0px; 
}

html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #1f252d;
    color: white;
    height: 100%;
    width: 100%;
}

#nav{
    background-color: #1f252d;
    width: 100%;
}

#menu {
    width: 60%;
    height: 6%;
    background-color: red;
    float: left;
    text-align: justify; /* Wyrównanie tekstu do lewej i prawej strony */
}


#menu p {
    display: inline-block;
    margin-right: 6%;
    font-size: 1.2em;
}


#user {
    align-items: flex-end;
    width: 40%; /* Szerokość nowego kontenera */
    height: 6%; /* Wysokość - pełna wysokość okna przeglądarki */
    background-color: blue; /* Kolor tła */
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
a:link {
    color: black;
}
#main {
    display: flex;
    height: 86%;
    width: 100%;
}
#ranking{
    width: 15%; /* Szerokość nowego kontenera */
    height: 100%;
    left: 2%;
    top: 2%;
    background-color: blue;
    border: 1px solid white;
}

#task {
    width: 55%;
    height: 100%;
    border: 1px solid white;
}

#control {
    width: 30%;
    padding-top: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#control p{
    border: 1px solid white;
    margin-left: 15%;
    max-width: 45%;
    font-size: 1.5em;
}








ol {
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:#FFF;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
  }

  /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
  ol a {
    display:block;
    text-decoration:none;
    color:#000;
    padding:0 5px;
  }

  /* wygląd elementów - li - wszystkich dzieci elementu - ol */
  ol > li {
    float:left;
    width:150px;
    margin-left:1px;
    background-color:#FDD700;
    height:2em;
  }

  /* wygląd elementu - li - pierwszego dziecka elementu - ol */
  ol > li:first-child {
    margin-left:0;
  }

  /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
  ol > li:hover {
    background-color:#EEE;
  }

  /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
  ol > li:hover > a {
    color:#09C;
  }

  /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
  ol > li:hover > ul {
    display:block;
  }

  /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

  /* wygląd głównych rozwijanych elementów - ul */
  ol > li > ul {
    display:none;
    list-style-type:none;
    padding:0;
    margin:0;
  }

  /* wygląd elementu - li - w części rozwijanej */
  ol > li > ul > li {
    position:relative;
    background-color:#EEE;
  }

  /* wygląd elementu - a - w części rozwijanej */
  ol > li > ul > li > a {
    border-top:1px solid #FFF;
  }

  /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
  ol > li > ul > li:hover {
    background-color:#DDD;
  }

  /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
  ol > li > ul > li:hover > a {
    color:#09C;
  }